APP_HOST=0.0.0.0
APP_PORT=8081
APP_PREPROCESS_URL=http://127.0.0.1:8085
APP_RUNTIME_URL=http://127.0.0.1:8082
APP_VECTOR_STORE_URL=http://127.0.0.1:8083
APP_HTTP_TIMEOUT_SECONDS=5
APP_DEFAULT_INDEX_ID=default-index
APP_MAX_ATTEMPTS=3
APP_RETRY_BACKOFF_SECONDS=0.1
