APP_HOST=0.0.0.0
APP_PORT=8080
APP_API_KEY=local-dev-key
APP_AUTH_CREDENTIALS_JSON=
APP_DEFAULT_RATE_LIMIT_PER_MINUTE=120
APP_RUNTIME_URL=http://127.0.0.1:8082
APP_TASK_ORCHESTRATOR_URL=http://127.0.0.1:8081
APP_RETRIEVAL_URL=http://127.0.0.1:8084
APP_HTTP_TIMEOUT_SECONDS=5
APP_CIRCUIT_BREAKER_FAILURE_THRESHOLD=3
APP_CIRCUIT_BREAKER_RECOVERY_SECONDS=30
